# Core & Data Manipulation
streamlit
numpy
pandas
python-dotenv
PyYAML
tqdm
python-dateutil
pytz

# Machine Learning & AI
scikit-learn
transformers
torch
sentence-transformers
langchain
spacy
tokenizers
shap
joblib

# NLP & Sentiment Analysis
nltk
textblob
vaderSentiment

# Data Visualization
matplotlib
seaborn
plotly

# Financial Data & Analysis
yfinance
pandas-datareader
statsmodels
pandas-ta
arch

# Web Scraping & HTML Processing
beautifulsoup4
newspaper3k
feedparser
lxml[html_clean]

# Excel Support
openpyxl
xlrd

scipy
requests
optuna
ollama

# Logging
loguru
